USE [master]
GO
/****** Object:  Database [Simpoll]    Script Date: 22/12/2017 16:54:28 ******/
CREATE DATABASE [Simpoll]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Simpoll', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Simpoll.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Simpoll_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Simpoll_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Simpoll].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Simpoll]
GO
USE [Simpoll]
GO
/****** Object:  Table [dbo].[CREATEUR]    Script Date: 22/12/2017 16:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREATEUR](
	[id_createur] [int] IDENTITY(1,1) NOT NULL,
	[nom_creation] [nvarchar](30) NOT NULL,
	[prenom_createur] [nvarchar](30) NOT NULL,
	[email_createur] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CREATEUR] PRIMARY KEY CLUSTERED 
(
	[id_createur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPONSE]    Script Date: 22/12/2017 16:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPONSE](
	[id_reponse] [int] IDENTITY(1,1) NOT NULL,
	[intitule_reponse] [nvarchar](255) NOT NULL,
	[nb_de_vote_reponse] [int] NOT NULL,
	[FK_id_sondage] [int] NOT NULL,
 CONSTRAINT [PK_REPONSE] PRIMARY KEY CLUSTERED 
(
	[id_reponse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SONDAG]    Script Date: 22/12/2017 16:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONDAG](
	[id_sondage] [int] NOT NULL,
	[url_partage_sondage] [nvarchar](255) NOT NULL,
	[url_supression_sondage] [nvarchar](255) NOT NULL,
	[ulr_resultat_sondage] [nvarchar](255) NOT NULL,
	[choix_multiple_sondage] [bit] NOT NULL,
	[nb_votant_sondage] [int] NOT NULL,
	[question_sondage] [nvarchar](255) NOT NULL,
	[FK_id_createur] [int] NOT NULL,
 CONSTRAINT [PK_SONDAG] PRIMARY KEY CLUSTERED 
(
	[id_sondage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REPONSE]  WITH CHECK ADD  CONSTRAINT [FK_SONDAG_REPONSE] FOREIGN KEY([FK_id_sondage])
REFERENCES [dbo].[SONDAG] ([id_sondage])
GO
ALTER TABLE [dbo].[REPONSE] CHECK CONSTRAINT [FK_SONDAG_REPONSE]
GO
ALTER TABLE [dbo].[SONDAG]  WITH CHECK ADD  CONSTRAINT [FK_CREATEUR_SONDAG] FOREIGN KEY([FK_id_createur])
REFERENCES [dbo].[CREATEUR] ([id_createur])
GO
ALTER TABLE [dbo].[SONDAG] CHECK CONSTRAINT [FK_CREATEUR_SONDAG]
GO
USE [master]
GO
