@model int?
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Il faut une question</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body class="jolie">
    <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 text-light" type="submit">Search</button>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">Sign Out</a>
            </li>
        </ul>
    </nav>
    <header class="container">
        <a href="/Simpoll/CreationUtilisateur"><img src="/Content/simpoll.png" alt="Logo Simpoll" /></a>
    </header>
    <section class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Attention !</h1>
                <p class="lead">Veuillez saisir la question</p>
            </div>
        </div>
        <div>
            <a href="/Simpoll/page_creation_sondage/@Model" role="button" class="btn btn-block btn-primary col-lg-2">Retour</a>
        </div>
    </section>
    <footer></footer>
</body>
</html>
