@model Simpoll.Models.Sondage
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Sondage Désactivé</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Refresh" content="3;url=/Partage/Resultat/@Model.IdSondage" />
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body class="jolie">
    <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 text-light" type="submit">Search</button>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light">Sign Out</a>
            </li>
        </ul>
    </nav>
    <header class="container">
        <a href="/Simpoll/CreationUtilisateur"><img src="/Content/simpoll.png" alt="Logo Simpoll" /></a>
    </header>
    <section class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Votre sondage a bien été désactivé.</h1>
                <p>Vous allez être redirigé dans 3 secondes ...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="/Simpoll/CreationUtilisateur" type="button" class="btn btn-block btn-primary">Page d'accueil</></a>
            </div>
            <div class="col-lg-8">
            </div>
            <div class="col-lg-2">
                <a href="/Partage/Resultat/@Model.IdSondage" type="button" class="btn btn-block btn-primary justify-content-end">Résultats</a>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>
